::root {
	--ff-1: "Poppins", sans-serif;
	--ff-2: "Inter", sans-serif;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background-color: #e4e4e4;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb {
	background-color: #8f8f8f;
	border-radius: 100px;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	background-color: #fffffe;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: "Poppins", sans-serif;
}

#logo_img {
	width: 5rem;
	object-fit: cover;
}

.navbar {
	width: 100vw;
	top: 0;
}

.menu_navbar {
	display: none;
}

.nav_list {
	position: fixed;
	z-index: 998;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: "Poppins", sans-serif;
	background-color: #fffffe;
}

.part_nav {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.navlinks {
	text-decoration: none;
	list-style: none;
	font-size: 1.75rem;
	color: #000;
	font-weight: 500;
	letter-spacing: 0.25px;
	font-family: "Inter", sans-serif;
}

#logo_title {
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 1px;
	margin-left: 1rem;
}

.links_part {
	gap: 5rem;
}

#btn_account {
	background: linear-gradient(
		109.6deg,
		rgb(255, 207, 84) 11.2%,
		rgb(255, 158, 27) 91.1%
	);
	border: none;
	border-radius: 20px;
	padding: 7px 20px;
	font-size: 13.5px;
	font-family: "Inter", sans-serif;
	font-weight: bold;
}

#btn_account:hover {
	cursor: pointer;
}

#hero_page {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.description_hero {
	display: grid;
	font-family: "Inter", sans-serif;
	justify-content: center;
}

.hero_title {
	font-size: 5rem;
	font-weight: 700;
	margin-left: 5.8rem;
}

.shapes {
	position: relative;
}

.shapes::after {
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.7;
	transform: scale(1.07, 1.05) skewX(-15deg);
	background: linear-gradient(
		109.6deg,
		rgb(255, 207, 84) 11.2%,
		rgb(255, 158, 27) 91.1%
	);
}

.arrow_down {
	animation: moveArrow 1s alternate-reverse infinite;
	width: 2rem;
	height: 2rem;
	margin-left: -0.4rem;
}

@keyframes moveArrow {
	from {
		transform: translateY(-5px);
	}
	to {
		transform: translateY(0);
	}
}

.hero_desc {
	font-size: 2rem;
	font-weight: bold;
	margin-left: 5rem;
	margin-top: 1rem;
}

.transit_parg {
	text-decoration: none;
	color: #ff8906;
	margin-left: 5rem;
	margin-top: 3rem;
	position: relative;
	font-size: 1.3rem;
	font-weight: bold;
}

.transit_parg::after {
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border: thin solid #ff8906;
	width: 8.2rem;
}

.photos_hero {
	position: relative;
	margin-top: 15rem;
}

.dollar_png {
	width: 25rem;
	position: absolute;
	top: -10rem;
	right: 20rem;
	z-index: 990;
}

.desktop_png {
	width: 15rem;
	position: absolute;
	top: -30rem;
	right: 18rem;
	object-fit: contain;
}

.flower_png {
	width: 15rem;
	position: absolute;
	right: 8rem;
	top: -25rem;
	z-index: 0;
}

.par_subtitle {
	font-size: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	color: #ff8906;
}

.title_feature {
	display: grid;
	justify-content: center;
	align-items: flex-start;
}

.par_subtitle_1 {
	font-size: 3rem;
	margin-top: 1.4rem;
	margin-bottom: 9rem;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 1rem;
}

.icon_container {
	width: 5rem;
	position: relative;
}

.container_img {
	margin-left: auto;
	margin-right: auto;
	width: 50rem;
}

.container_title {
	font-size: 1.8rem;
	font-weight: bold;
}

.container_desc {
	font-size: 1.6rem;
	color: gray;
	padding-right: 3rem;
}

.subcontainer {
	margin-top: 5rem;
	margin-left: 13rem;
}

.subcontainer_1 {
	margin-top: 10rem;
	margin-right: 5rem;
}

.modal {
	position: fixed;
	background-color: rbga(0, 0, 0, 0.3);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fffcfc;
	z-index: 1000;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
	max-width: 60rem;
	height: 45rem;
	border-radius: 3rem;
}

.overlay_modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rbga(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	z-index: 999;
	transition: all 0.5s;
}

#btn_modal {
	border: none;
	background: none;
	font-weight: bold;
	font-size: 4rem;
	right: 1rem;
	top: 0.5rem;
	position: absolute;
	cursor: pointer;
}

.modal_title {
	margin-top: 5rem;
	margin-bottom: 5rem;
	font-size: 3rem;
	margin-left: 4rem;
}

.modal_form {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	gap: 2rem;
}

.label_modal {
	margin-left: 4rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.input_modal {
	margin-right: 4rem;
	width: 30rem;
	height: 2.5rem;
	border-radius: 10px;
	box-shadow: rgba(223, 148, 9, 0.3) 0px 0px 0px 3px;
	border: none;
}

.submit_modal {
	margin-top: 5rem;
	font-weight: bold;
	border-radius: 15px;
	padding: 5px 30px 5px 30px;
	font-size: 2rem;
	cursor: pointer;
	background: linear-gradient(
		109.6deg,
		rgb(255, 207, 84) 11.2%,
		rgb(255, 158, 27) 91.1%
	);
	border: none;
	font-family: "Poppins", sans-serif;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

#operations_page {
	width: 100vw;
	height: 100vh;
}

.operations_par {
	margin-top: 60rem;
	margin-bottom: 0;
}

.operations_btn {
	width: 20rem;
	font-size: 1.5rem;
	font-family: "Poppins", sans-serif;
	border: none;
	border-radius: 20px;
	padding: 10px 30px;
	cursor: pointer;
	font-weight: bold;
	z-index: 100;
	transition: all 0.5s;
}

.operations_btn:nth-child(1) {
	background-color: #f9bc60;
}

.operations_btn:nth-child(2) {
	margin-left: 3rem;
	background-color: #2cb67d;
}

.operations_btn:nth-child(3) {
	background-color: #f25f4c;
	margin-left: 3rem;
}

.card_operation {
	display: none;
}

.card_operation_active {
	width: 100rem;
	height: 25rem;
	background-color: #00214d;
	color: #fffffe;
	display: flex;
	transition: all 0.5s;
}

.title_operations {
	display: grid;
	justify-content: center;
	align-items: flex-start;
	margin-top: 10rem;
}

#operation_buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

#operations_cards {
	display: grid;
	justify-content: center;
	z-index: 1;
	margin-top: -1rem;
	transition: all 1s;
}

.operation_icon {
	width: 6rem;
	height: 6rem;
	object-fit: cover;
	margin-top: 5rem;
	margin-left: 3rem;
}

.operation_content {
	margin-left: 2rem;
	padding: 50px;
}

.operation_title {
	font-size: 2rem;
}

.operation_desc {
	font-size: 1.4rem;
	color: rgb(219, 216, 216);
	font-weight: bold;
}

.operation_loan {
	background-color: #c3f0ca;
}

.operation_closing {
	background-color: #ffc6c7;
}

.title_2 {
	color: #33272a;
}

.desc_2 {
	color: #594a4e;
}

.scroll_up {
	display: none;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	border: none;
	background: none;
	cursor: pointer;
}

.img_scroll {
	object-fit: cover;
	width: 4rem;
}

.section_hidden {
	opacity: 0;
	filter: blur(10px);
	transform: translateY(10rem);
	transition: all 1s;
}

.section {
	display: grid;
	place-items: center;
	align-content: center;
	min-height: 50vh;
}

.section_show {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}

.slider {
	position: relative;
}

.slide {
	position: absolute;
	width: 120rem;
	left: -60rem;
	transition: all 0.7s;
}

.profile_img {
	width: 6rem;
	height: 6rem;
	object-fit: cover;
	border-radius: 100px;
}

.slider_title {
	font-size: 2.3rem;
	font-weight: bold;
	padding: 5px 100px;
}

.slider_description {
	font-size: 1.5rem;
	color: #8f8f8f;
	padding: 5px 100px;
}

.profile {
	display: flex;
	margin-left: 10rem;
	margin-top: 1rem;
}

.profile_name {
	font-size: 1.6rem;
	margin-left: 1rem;
	margin-top: 1.2rem;
}

.profile_location {
	font-size: 1.3rem;
	margin-left: 1rem;
	color: #8f8f8f;
}

.slider_btn {
	position: absolute;
	top: 35rem;
	border: none;
	background: rgba(229, 227, 227, 0.7);
	font-family: inherit;
	color: #333;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	font-size: 3.25rem;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	padding-bottom: 50px;
}

.slider_btn_left {
	left: 5%;
	transform: translate(-50%, -50%);
}

.slider_btn_right {
	right: 2%;
	transform: translate(-50%, -50%);
	top: 36rem;
}

.dots {
	position: absolute;
	bottom: -25rem;
}
#reviews_page {
	width: 100vw;
	margin-bottom: 10rem;
	height: 50vh;
}

.dots_btn {
	height: 1rem;
	width: 1rem;
	background-color: #8b8b8b;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	transition: all 0.5s;
	margin-left: 1rem;
	opacity: 0.7;
}


.dots_btn_active {
	background-color: #343434;
	opacity: 1;
}

.footer {
	width: 100vw;
	margin-top: 40rem;
	background-color: #000;
	color: #fffffe;
}

.footer_heading {
	display: grid;
	justify-content: center;
	align-items: center;
	padding-top: 5rem;
}

.footer_title {
	font-size: 2.5rem;
	letter-spacing: 0.5px;
}

.footer_button {
	font-size: 1.8rem;
	margin-top: 2rem;
	padding: 10px 30px;
	border-radius: 20px;
	cursor: pointer;
	background-color: #e2992a;
	font-weight: bold;
	color: #323131;
}

.footer_button:hover {
	background-color: #ff8906;
}

.footer_list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.footer_links{
	list-style: none;
	margin-left: 2rem;
	font-size: 1.5rem;
	cursor: pointer;
	color: #e4e4e4;
}

.copyright {
	margin-left: 2rem;
}